@charset "utf-8";
.dn {display:none;}


/* mobile */
/* Pc Dimmed Play Btn */
.mobilePlayBtn {position:absolute; display:none; top:0px; left:0px; width:100%; height:425px; z-index:2; background:rgba(0,0,0,0.8);}
.mobilePlayBtn span {display:inline-block; position:absolute; /* top:170px; left:430px; */ top:50%; left:50%; font-size:180px; color:#fff; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%);}
.eduPlay.single .mobilePlayBtn {height:calc(100% - 45px);}
/* Pc*/

.mobilePlayBtn span i {color:#fff;}
.mobile .mobilePlayBtn {position:absolute; display:none; top:0px; left:0px; background:rgba(255,255,255,0.8) url("../../img/content/mobileBtn.png") center no-repeat; width:1024px; height:605px; z-index:200; background-size:100%}
.mobile .mobilePlayBtn span {display:none;}

/* 전체 화면 css */
:-webkit-full-screen {}
:-ms-fullscreen {}
:fullscreen {}
:-webkit-full-screen video {width:100% !important; height:100% !important; position:fixed; top:0 !important; left:0 !important; margin:0 !important; z-index:99; background-color:#000;}
:-ms-fullscreen video {width:100% !important; height:100% !important; position:fixed; top:0 !important; left:0 !important; margin:0 !important; z-index:99; background-color:#000;}
:fullscreen video {width:100% !important; height:100% !important; position:fixed; top:0 !important; left:0 !important; margin:0 !important; z-index:99; background-color:#000;}
:-ms-fullscreen video {width:100% !important; height:100% !important; position:fixed; top:0 !important; left:0 !important; margin:0 !important; z-index:99; background-color:#000;}
:-webkit-full-screen video {width:100% !important; height:100% !important; position:fixed; top:0 !important; left:0 !important; margin:0 !important; z-index:99; background-color:#000;}


/* bottom css */
@charset "utf-8";

.fa{display:inline !important; vertical-align:middle;}

#bottom {width:100%; height:45px; position:absolute; bottom:0px; z-index:3; background-color:#113053; padding:0 30px; text-align:center;}
#bottom .inner {display:inline-block;}
#bottom button i {color:#fff;}

#bottom .rateGroup button {background:none !important;}
#bottom button {cursor:pointer}
#bottom .soundGroup {position:relative; float:left; z-index:10; padding-left:10px;}
#bottom .videoGroup {position:relative; float:left; z-index:10; padding-left:5px; margin-left:5px;}
#bottom .soundGroup .videobtn,
#bottom .wordGroup .videobtn,
#bottom .menuGroup .videobtn,
#bottom .progressGroup .videobtn {width:30px; height:40px; float:left;}

#bottom .videoGroup .videobtn {width:25px; height:40px; float:left; margin-left:10px;}

#bottom .videoGroup .videobtn button,
#bottom .soundGroup .videobtn button,
#bottom .wordGroup .videobtn button,
#bottom .menuGroup .videobtn button,
#bottom .videoGroup .videobtn button i,
#bottom .soundGroup .videobtn button i,
#bottom .wordGroup .videobtn button i,
#bottom .menuGroup .videobtn button i {width:100%; height:100%; color:#fff; font-size:25px; background:none;}
#bottom .progressGroup .videobtn button:hover i,
#bottom .progressGroup .videobtn button.on i,
#bottom .videoGroup .videobtn button:hover i,
#bottom .videoGroup .videobtn button.on i,
#bottom .soundGroup .videobtn button:hover i,
#bottom .soundGroup .videobtn button.on i,
#bottom .wordGroup .videobtn button:hover i,
#bottom .wordGroup .videobtn button.on i,
#bottom .menuGroup .videobtn button:hover i,
#bottom .menuGroup .videobtn button.on i {color:#04cbd4;}

#bottom.nf .videoGroup .videobtn.fullBtn {display:none;}
#bottom .soundGroup .videobtn button i {font-size:25px;}
#bottom .soundGroup .soundbar {height:40px; padding-left:5px; float:left;}
#bottom .soundGroup .soundbar .volume {position:relative; width:60px; height:100%; float:left; cursor:pointer; background:transparent;}
#bottom .soundGroup .soundbar .volume .volumeBar {position:absolute; top:20px; left:0; z-index:10; display:block; height:2px; background-color:#04cbd4;}
#bottom .soundGroup .soundbar .volume .volumeBar .p_circle {position:absolute; right:-9px; bottom:-9px; width:17px; height:17px; background:url(../images/media/jog1.png) no-repeat;}

#bottom .pageGroup {position:absolute; right:35px; height:40px; padding-top:8px;}
#bottom .pageGroup div {float:left; line-height:40px;}
#bottom .pageGroup button {background:transparent;}
#bottom .pageGroup button i {font-size:45px;}
#bottom .pageGroup .prevPage,
#bottom .pageGroup .nextPage {width:30px; height:40px; margin-top:-10px;}
#bottom .pageGroup .totalPageNum,
#bottom .pageGroup .currentPageNum {width:26px; height:40px; margin-top:-11px; font-size:18px; color:#fff; text-align:center; vertical-align:bottom; font-style:oblique;}
#bottom .pageGroup .totalPageNum {margin-top:-3px;}
#bottom .pageGroup .currentPageNum {font-weight:bold;}
#bottom .pageGroup .pagebar {width:10px; margin-top:-3px; font-size:14px; color:#fff; text-align:center; font-style:oblique;}
#bottom .pageGroup .currentPageNum.hover {color:#fff;}
#bottom .pageGroup .totalPageNum.hover {color:#c5c5c5;}
#bottom .pageGroup div.prevPage button.prevPageBtn.first,
#bottom .pageGroup div.nextPage button.nextPageBtn.last {cursor:default;}
#bottom .pageGroup div.prevPage button,
#bottom .pageGroup div.nextPage button {width:100%; height:100%;}

#bottom .rateGroup ul li button:hover,
#bottom .rateGroup ul li button.on {color:#70be46;}

#bottom .progressGroup {position:relative; top:0; height:40px; padding-left:5px; -webkit-box-sizing:border-box; box-sizing:border-box; float:left;}
#bottom .progressGroup div {float:left; margin-left:10px;}
#bottom .progressGroup div:first-child {margin-left:0;}
#bottom .progressGroup .progress {position:relative; width:320px; height:40px;}
#bottom .progressGroup .progress .progressbg {position:absolute; top:20px; left:10px; width:100%; height:4px; background:#eee;}
#bottom .progressGroup .progress .progress-bar {position:relative; float:left; width:0%; height:4px; margin-top:20px; background:#04cbd4;}
#bottom .progressGroup .progress .progress-bar .p_circle {position:absolute; right:-15px; bottom:-10px; width:35px; height:25px; background:url(../images/media/jog2.png) no-repeat;}
#bottom .progressGroup .time {height:35px; margin-top:2px; margin-left:30px; color:#888;}
#bottom .progressGroup .time span {height:40px; font-size:12px; letter-spacing:-0.5px; line-height:38px; color:#fff;}
#bottom .progressGroup .time span.currentTime {color:#fff;}
#bottom .progressGroup button {width:100%; height:100%; color:#fff; font-size:15px; background:none;}
#bottom .nextClick {position:absolute; top:-60px; right:0px; z-index:100; display:none; width:120px; height:70px; background:url(../../ca/next.png) 0 0 no-repeat; background-size:100%; cursor:pointer;}
#bottom .nextClick.end {background:url(../../ca/end.png) 0 0 no-repeat; background-size:100%;}
#bottom .progressGroup .marker{position:absolute; top:6px; width:18px; height:12px; margin:0; background:url('../../img/bottom/playbar_marker.png') 0 0px no-repeat;}
#bottom .progressGroup .marker button {display:block; width:100%; height:100%;}

.scrollBox #display {position:absolute; left:0; bottom:45px; z-index:99; display:block; width:100%; height:55px; padding:2px 100px; text-align:left; color:#fff; font-size:16px; line-height:24px; background-color:rgba( 0, 0, 0, 0.7); word-break:keep-all; overflow-y:scroll;}

#display {height:55px; color:#fff; font-size:16px; line-height:24px;}
#dis_close_btn {position:absolute; top:-45px; right:10px; width:21px; height:21px; background-color:transparent;}

.mobdown {position:absolute; display:none; top:-48px; right:10px; z-index:99; font-size:30px; color:#fff;}
.mobdown i {color:#fff;}
.mobile .mobdown {display:block;}